main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultsContainer, .topContainer, .raceInfo, .timerInfo, .detailedRacerInfo, .timer, .temp{
    border-radius: 25px;
}
.resultsContainer {
    width: 75%;
    height: 90vh;
    border: 4px solid green;
    padding: 2rem 0 2rem 0;
    background-color: grey;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .topContainer{
        width: 95%;
        height: 20%;
        border: 2px solid red;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .raceInfo{
            width: 48%;
            height: 80%;
            border: 2px solid blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        .timerInfo{
            width: 48%;
            height: 80%;
            border: 2px solid blue;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .timer{
                width: 50%;
                height: 95%;
                border: 2px solid cyan;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .temp{
                width: 45%;
                height: 95%;
                border: 2px solid cyan;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .detailedRacerInfo{
        width: 95%;
        height: 72%;
        border: 2px solid purple;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        margin-right: 0;
        table{
            text-align: left;
            border: 2px solid green;
            height: 95%;
        }
        tbody{
            padding-left: 3%;
            border: 2px solid red;
        }
    }
}
