main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.resultsContainer, .topContainer, .raceInfo, .timerInfo, .detailedRacerInfo, .timer, .temp{
    border-radius: 25px;
}
.resultsContainer {
    // width: 75%;
    border: 15px solid green;
    background-color: rgba($color: #d9d7d7, $alpha: 0.3);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Inter', sans-serif;
    box-shadow: -2px 2px 6px #303030;
    .topContainer{
        width: 95%;
        padding: .5rem 0;
        margin: 1rem 0 .5rem 0;
        background-color: green;
        box-shadow: -1px 1px 6px #252525;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .timerInfo, .raceInfo{
            height: 90%;
        }
        .raceInfo{
            width: 48%;
            padding: .6rem 0 .7rem 2rem;
            margin: .5rem 0;
            background-color: whitesmoke;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h2{
                font-size: 1.8rem;
                margin: 0;
                text-transform: uppercase;
                font-style: italic;
                font-weight: 450;
                text-shadow: -.2px .2px 2px #252525;
            }
            h1{
                font-size: 2.1rem;
                text-transform: uppercase;
                margin-bottom: 0;
                margin-top: .7rem;
                font-weight: 800;
                text-shadow: -.5px .5px 2px #252525;
            }
        }
        .timerInfo{
            width: 48%;
            background-color: whitesmoke;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .timer{
                width: 55%;
                background-color: #E15805;
                margin: .2rem .3rem;
                font-size: 1.8rem;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p{
                    margin: .5rem 0 0 0;
                    color: whitesmoke;
                    text-shadow: -2px 1px 2px #000000;
                }
                time{
                    font-size: 3rem;
                    margin-bottom: .22rem;
                    color: whitesmoke;
                    text-shadow: -3px 1px 2px #252525;
                }
            }
            .temp{
                width: 45%;
                height: 95%;
                font-size: 3.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-shadow: -2px 1px 3px #000000;
            }
        }
    }
    .detailedRacerInfo{
        color: whitesmoke;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        margin: .5rem 0 1rem 0;
        box-shadow: -2px 2px 6px #303030;
        table{
            text-align: left;
            // border: 2px solid green;
            height: 100%;
            font-size: 1.7rem;
            border-collapse: collapse;
        }
        thead tr th, tbody tr td{
            padding-left: 2.7rem;
        }
        thead tr {
            border-radius: 20px;
            background-color: #252525;
            th{
                padding: 1rem 0 1rem 2.7rem;
                text-shadow: -1px 1px 2px grey;
                box-shadow: -.2px -.2px 2px #252525;
                // border-radius: 25px;
                // border: 2px solid red;
            }
        }
        tbody{
            padding-left: 3%;
            tr{
                box-shadow: -.2px -.2px 2px #303030;
            }
            tr td{
                padding-top: .8rem;
                padding-bottom: .8rem;
                text-shadow: -2px 1px 2px #000000;
            }
            tr:nth-child(odd) {
                    background: linear-gradient(to bottom, #333745 1%,
                            #4c516d 30%,
                            #9198af 90%,
                        rgb(179, 179, 179) 
                        100%);
                }
            tr:nth-child(even){
                background-color:rgba(#333745, 1);
                // box-shadow: -1px 1px 3px #757474;
            }
        }
    }
}
