@use "../abstract/variables" as *;
// @use "../abstract/animations";

html {
    background: $colorTransparent;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.mainFrame {
    margin-left: 2rem;
    max-width: 20vw;
    border: 13px solid transparent;
    border-image-source: none;
    border-image-repeat: round;
    border-image-slice: fill;
    box-sizing: content-box;
    border-radius: 25px;
    color: $colorTextWhiteSmoke;
    background-color: $colorLightGreyBackground;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4px 0;
    box-shadow: -2px 2px 6px rgba($colorTextShadowDarkGrey, 0.2);
    font-family: 'Inter', sans-serif;

    .logo,
    .timer,
    .racerData {
        border-radius: 20px;
        box-shadow: -1px 1px 6px $colorBoxShadowDarkGrey;
    }

    .horizontalTablet {
        display: none;
    }

    .transitionFade {
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .fade-out {
        opacity: 0;
    }
}