@media (max-width: 880px) {
    .resultsContainer {
        .topContainer {
            .raceInfo {
                h2 {
                    font-size: 1.70rem;
                }
                h1 {
                    font-size: 2rem;
                    margin-top: .5rem;
                }
            }
            .timerInfo {
                .timer {
                    font-size: 1.70rem;
                    time {
                        font-size: 2.9rem;
                        margin-bottom: .22rem;
                    }
                }
                .temp {
                    font-size: 3rem;
                }
            }
        }
        .detailedRacerInfo {
            table {
                font-size: 1.65rem;
            }
            thead tr th,
            tbody tr td {
                padding-left: 1.5rem;
            }
            thead tr {
                th {
                    text-shadow: -.7px .7px 2px grey;
                }
            }
            tbody {
                tr td {
                    padding-top: .7rem;
                    padding-bottom: .7rem;
                }
            }
        }
    }
}

@media (max-width: 780px) {
    .resultsContainer {
        .topContainer {
            .raceInfo {
                padding:.6rem 1.2rem .7rem 1.2rem;
                margin: 5px 2px;
                min-width: 290px;
                width: 47%;
                h1{
                    letter-spacing: -.6px;
                    word-spacing: -1.5px;
                }
                h2 {
                    letter-spacing: -.5px;
                    word-spacing: -.6px;
                }
            }
            .timerInfo {
                min-width: 290px;
                .timer {
                    font-size: 1.68rem;
                    padding: .1rem 0;
                    time {
                        font-size: 2.6rem;
                    }
                }
                .temp {
                    font-size: 2.8rem;
                    font-weight: 500;
                }
            }
        }
        .detailedRacerInfo {
            thead tr th,
            tbody tr td {
                padding-left: 1.2rem;
            }
        }
    }
}

@media (max-width: 693px) {
    .resultsContainer {
        .topContainer {
            .raceInfo {
                min-width: 270px;
                width: auto;
                align-items: center;
                h2 {
                    font-size: 1.6rem;
                }

                h1 {
                    font-size: 2.2rem;
                }
            }

            .timerInfo {
                min-width: 270px;
                .timer {
                    font-size: 1.70rem;

                    time {
                        font-size: 2.9rem;
                        margin-bottom: .22rem;
                    }
                }

                .temp {
                    font-size: 3rem;
                }
            }
        }
        .detailedRacerInfo {
            table {
                font-size: 1.65rem;
            }

            thead tr th,
            tbody tr td {
                padding-left: 1.5rem;
            }

            thead tr {
                th {
                    text-shadow: -.7px .7px 2px grey;
                }
            }

            tbody {
                tr td {
                    padding-top: .7rem;
                    padding-bottom: .7rem;
                }
            }
        }
    }
}

@media (max-width: 666px){
    .resultsContainer{
        .topContainer{
            flex-wrap: wrap;
            .raceInfo, .timerInfo{
                width: 98%;
            }
        }
        tbody tr .switch4 {
            padding-left: 0rem;
            width: 13%;
        }
    }
}

@media (max-width: 640px) {
    .switch2{
        display: none;
    }
    .switch3{
        display: none;
    }
}

@media (max-width: 480px) {
    .resultsContainer {
        .topContainer {
            .raceInfo {
                padding: .7rem;
                h2 {
                    font-size: 1.7rem;
                }
                
                h1 {
                    font-size: 2.2rem;
                }
            }

            .timerInfo {
                .timer {
                    font-size: 1.65rem;
                    padding: .1rem 0;

                    time {
                        font-size: 2.7rem;
                    }
                }
                .temp {
                    font-size: 2.5rem;
                }
            }
        }
        .detailedRacerInfo {
            .mobileExtra{
                display: none;
            }
            thead tr th {
                padding: 1rem;
            }
            tbody tr td {
                padding:.6rem 1rem;
            }
        }
    }
}

@media (max-width: 375px) {
    .resultsContainer {
            .topContainer {
                .raceInfo {
                    h2 {
                        font-size: 1.6rem;
                    }
    
                    h1 {
                        font-size: 2rem;
                    }
                }
    
                .timerInfo {
                    .timer {
                        font-size: 1.6rem;
                        time {
                            font-size: 2.5rem;
                        }
                    }
    
                    .temp {
                        font-size: 2.3rem;
                    }
                }
            }
    
            .detailedRacerInfo {
                table{
                    font-size: 1.6rem;
                }
                tbody tr td:nth-child(3n){
                    font-size: 1.6rem;
                }
            }
    }
}