

@media (max-width: 1090px) {
    .mainFrame {
        max-width: 23vw;
        .timer {
            padding: .6rem 0rem;
            time {
                font-size: 3.4rem;
            }
        }
        .racerData {
            table-layout: fixed;
            table {
                thead {
                    tr {
                        th {
                            font-size: 1.8rem;
                        }
                    }
                }
                tbody {
                    .racerTime {
                        margin-bottom: .1rem;
                    }
                    .additionalInfo {
                        right: -21%;
                    }
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .mainFrame {
            max-width: 25vw;
            .timer {
                time {
                    font-size: 3.1rem;
                }
            }
    }
}

@media (max-width: 880px) {
    .mainFrame {
            max-width: 27vw;
            .timer {
                time {
                    font-size: 3.1rem;
                }
            }
        }
}

@media (max-width: 820px) {
    .mainFrame {
        max-width: 30vw;
    }
}

@media (max-width: 780px) {
    .timer {
        width: 96%;
        p {
            width: 100%;
            font-size: 1.7rem;
            span{
                display: block;
                margin: .1rem;
            }
        }

        time {
            font-size: 3rem;
        }
    }
}

@media (max-width: 768px) {
    .mainFrame {
        max-width: 32vw;
    }
}

@media (max-width: 690px) {
    .mainFrame {
        max-width: 36vw;
    }
}

@media (max-width: 605px) {
    .mainFrame {
        max-width: 45vw;
    }
}
@media (max-width: 485px) {
    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainFrame {
        margin: 1rem 0;
        max-width: 80vw;
    }
}