// Color Palette 
$colorTransparent: transparent;
$colorLightGreyBackground: rgba(217, 215, 215, 0.3);
$colorDarkGreyBackground: #252525;
$colorDarkerGreyBackground: #404056;
$colorEvenDarkerGreyBackground: #333745;
$colorBlueGreyBackground: #9198af;
$colorOrangeBackground: #E15805;
$colorTextShadowDarkGrey: #343434;
$colorTextShadowGrey: #464545;
$colorBoxShadowDarkGrey: #303030;
$colorTextWhiteSmoke: rgb(223, 223, 223);
$colorBorderBottomGrey: grey;
$colorBoxShadowLightGrey: rgba(0, 0, 0, 0.1);
$metallicRed: #E03E15;
$metallicGreen: #A6F568;
// Typography 
    // Font-Size
    $fontSizeSmall: 1.65rem;
    $fontSizeMedium: 1.8rem;
    $fontSizeLarge: 2.1rem;
    $fontSizeExtraLarge: 3.5rem;
    $fontSizeTable: 1.7rem;
    $fontSizeInfo: 1.6rem;
    $fontSizeRacerTime: 1.9rem;

    // Font-Weight
    $fontWeightLight: 300;
    $fontWeightRegular: 400;
    $fontWeightMedium: 500;
    $fontWeightSemiBold: 600;
    $fontWeightBold: 700;
    $fontWeightExtraBold: 800;

